:root {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  @apply min-h-screen flex flex-col;
  margin: 0;
}

main {
  @apply flex-grow;
}

main:has(.back-link) {
  @apply text-center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

.container {
  @apply mx-auto px-4;
}

/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 375px) {
  .container {
    @apply max-w-[375px];
  }
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .container {
    @apply max-w-[768px];
  }
}

/* Desktop */
@media only screen and (min-width: 1200px) {
  .container {
    @apply max-w-[1200px];
  }
}

@keyframes slide {
  from {
    transform: translateX(-140%) translateY(-50%);
  }
  to {
    transform: translateX(-104%) translateY(-50%);
  }
}

@keyframes stretch {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(100%) scale(0.2);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(100%) scale(1);
  }
}
